* {
    box-sizing: border-box;
    margin: 0;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.page__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random__quote {
    width: 100%;
    place-content: flex-end;
}

.random__btn {
    border: none;
    align-items: center;
    padding: 1rem 2rem;
    background-color: $darkGray;
    color: $offWhite;
    gap: 8px;
    margin-bottom: 100px;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
        background-color: $black;
    }
}

.btn__text {
    font-family: $raleway;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: $offWhite;
    gap: 8px;
}

.author__btn {
    width: 672px;
    height: 151px;
    justify-content: space-between;
    align-items: center;
}

.author__name {
    font-family: $raleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: $darkGray;
}

.quote__genre {
    font-family: $raleway;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $lightGray;
}

.btn__icon {
    color: $white;
}