//Colors
$yellow: #F7DF94;
$darkGray: #4F4F4F;
$lightGray: #828282;
$offWhite: #F2F2F2;
$offBlack: #333333;
$black: #000000;
$white: #fff;

//Fonts
$montserrat: 'Montserrat', sans-serif;
$raleway: 'Raleway', sans-serif;